package main

templ html() {
  <html>
  <head>
  </head>
  <body>
    <h1>hello team</h1>
    @button("")
  </body>
  </html>
}

templ button(name string) {
  <button type="button">Click me!</button>
}

